html{
    font-family: sans-serif;
    background-color: gray;
}

h1{
    text-align: left;
    color: white;
    font-size: 40px;
    background-color: darkblue;
    margin-top: 0px;
    padding: 25px;
}

nav {
    text-align: right;
    font-size: 24px;
    background-color: darkblue;
    color: white;
    padding-right: 25px;
}

.header{
    border: solid white;
    box-shadow: 0 0 12px -2px black;
    margin: 20px;
}

h1, nav{
    margin: 0px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}

.home{
    margin-right: 20px;
}

.about{
    margin-right: 20px;
}

.portfolio{
    margin-right: 20px;
}

h2{
    text-align: center;
}

section{
    border: solid black;
    background-color: lightgray;
    text-align: left;
    margin: 75px;
    padding: 20px;
    font-size: 24px;
}