html{
    font-family: sans-serif;
    background-color: gray;
}

h1{
    text-align: left;
    color: white;
    font-size: 40px;
    background-color: darkblue;
    margin-top: 0px;
    padding: 25px;
}

nav {
    text-align: right;
    font-size: 24px;
    background-color: darkblue;
    color: white;
    padding-right: 25px;
}

.header{
    border: solid white;
    box-shadow: 0 0 12px -2px black;
    margin: 20px;
}

h1, nav{
    margin: 0px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
}

.home{
    margin-right: 20px;
}

.about{
    margin-right: 20px;
}

.portfolio{
    margin-right: 20px;
}

article{
    display: flex;
    border: solid black;
    margin: 75px;
    background-color: lightgray;
    box-shadow: 0 0 12px -2px black;
}

section{
    text-align: left;
    margin: 100px;
    padding: 20px;
    font-size: 24px;
}

.homePhoto{
    margin-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    height: 450px;
    width: auto;
    display:block;
}

.quote{
    font-size: 24px;
    text-align: center;
}

.attribute{
    text-align: right;
    margin-left: 600px;
}